*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #ca9b80;
}

.pattern-vertical-lines-xl{
    background-image: repeating-linear-gradient(to right, rgba(209, 212, 208, 0.443), rgba(209, 212, 208, 0.443) 1px, transparent 1px, transparent) !important;
}